table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid grey;
    margin-bottom: 20px;
}

th, td{
    padding: 10px 20px;
    border: 1px solid grey;
}
