<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Add new client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Add new client</h1>
    <form action="#" th:action="@{/client}" th:object="${client}" method="post">
        <p>Id: <input type="number" th:field="*{idOfClient}" /></p>
        <p>Fullname: <input type="text" th:field="*{fullname}" /></p>
        <p>Email: <input type="email" th:field="*{email}" /></p>
        <p>Phone: <input type="text" th:field="*{phone}" /></p>
        <p>Address: <input type="text" th:field="*{address}"></p>
        <p>Date of birth: <input type="date" th:field="*{dateOfBirth}" /></p>
        <p><input type="submit" value="Submit" /><input type="reset" value="Reset" /></p>
    </form>
</body>
</html>