<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Edit Provider</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Edit Provider</h1>
<form action="#" th:action="@{/editProvider}" th:object="${provider}" method="post">
    <p>Id: <input type="number" th:field="*{idOfProvider}" th:value="*{idOfProvider}"/></p>
    <p>Name: <input type="text" th:field="*{name}" th:value="*{name}"/></p>
    <p>Address: <input type="text" th:field="*{address}"  th:value="*{address}"/></p>
    <p>TypeOfItem: <input type="text" th:field="*{typeOfItem}"  th:value="*{typeOfItem}"/></p>
    <p>Phone: <input type="text" th:field="*{phone}"  th:value="*{phone}"/></p>
    <p>Fullname: <input type="text" th:field="*{fullname}"  th:value="*{fullname}"/></p>
    <p><input type="submit" value="Submit" /><input type="reset" value="Reset" /></p>
</form>
</body>
</html>