<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>List of orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="container">
<header>
    <nav>
        <ul class="navTop">
            <li><a href="/menu">Main menu</a></li>
            <li><a href="/provider">Provider menu</a></li>
            <li><a href="/worker">Worker menu</a></li>
            <li><a href="/client">Client menu</a></li>
            <li><a href="/item">Item menu</a></li>
        </ul>
    </nav>
    <div class="signOut">
        <form th:action="@{logout}" method="post">
            <input type="submit" value="Sign out">
        </form>
    </div>
    <div class="imgDiv">
        <img class="logo" alt="logo" src="logo.jpg"></p>
    </div>
</header>
<h1>List of orders</h1>
<table border=20px>
    <tr>
        <th>Id</th>
        <th>NumOfOr</th>
        <th>IdOforder</th>
        <th>IdOfWorker</th>
        <th>DateOfOrder</th>
        <th>Order status</th>
        <th>Price</th>
        <th>Payment method</th>
        <th>Method for obtaining</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td><span th:text="${order.idOfOrder}"></span></td>
        <td><span th:text="${order.numOfOr}"></span></td>
        <td><span th:text="${order.order.getIdOforder()}"></span></td>
        <td><span th:text="${order.worker.getIdOfWorker()}"></span></td>
        <td><span th:text="${order.dateOfOrder}"></span></td>
        <td><span th:text="${order.orderStatus}"></span></td>
        <td><span th:text="${order.priceOfOrder}"></span></td>
        <td><span th:text="${order.paymentMeth}"></span></td>
        <td><span th:text="${order.methOfObt}"></span></td>
        <td><span><a th:href="@{/order/rmorder/{id}(id=${order.idOforder})}">Remove a order</a></span></td>
        <td><span><a th:href="@{/order/uporder/{id}(id=${order.idOforder})}">Update a order</a></span></td>
    </tr>
</table>
    <button><a href="/order/addOrder">Add a new order</a></button>
    <button><a href="/menu">Back to menu</a></button>
    <form th:action="@{logout}" method="post">
        <input type="submit" value="Sign out">
    </form>
    </div>
</body>
</html>