<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>List of providers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet">
</head>
<body>
<h1>List of providers</h1>
<table>    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>TypesOfItems</th>
        <th>Phone</th>
        <th>Fullname</th>
    </tr>
    <tr th:each="provider : ${providers}">
        <td><span th:text="${provider.idOfProvider}"></span></td>
        <td><span th:text="${provider.name}"></span></td>
        <td><span th:text="${provider.address}"></span></td>
        <td><span th:text="${provider.typesOfItem}"></span></td>
        <td><span th:text="${provider.phone}"></span></td>
        <td><span th:text="${provider.fullname}"></span></td>
    </tr>
</table>
    <button><a href="/provider/addProvider">Add a new provider</a></button>
    <button><a href="/menu">Back to menu</a></button>
    <ul title="To remove or to update an provider, write in a search bar of your browser commands:">
        <li>rmItem/id_of_provider - to remove an provider.</li>
        <li>upItem/id_of_provider - to update an provider.</li>
    </ul>
</body>
</html>