<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>List of items</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="container">
<header>
    <nav>
        <ul class="navTop">
            <li><a href="/menu">Main menu</a></li>
            <li><a href="/provider">Provider menu</a></li>
            <li><a href="/worker">Worker menu</a></li>
            <li><a href="/client">Client menu</a></li>
            <li><a href="/order">Order menu</a></li>
        </ul>
    </nav>
    <div class="signOut">
        <form th:action="@{logout}" method="post">
            <input type="submit" value="Sign out">
        </form>
    </div>
    <div class="imgDiv">
        <img class="logo" alt="logo" src="logo.jpg"></p>
    </div>
</header>
<h1>List of items</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>ListOfCon</th>
        <th>Сharacteristics</th>
        <th>Price</th>
        <th>NumOfpar</th>
        <th>Number</th>
    </tr>
    <tr th:each="item : ${items}">
        <td><span th:text="${item.idOfItem}"></span></td>
        <td><span th:text="${item.name}"></span></td>
        <td><span th:text="${item.listOfCon}"></span></td>
        <td><span th:text="${item.charac}"></span></td>
        <td><span th:text="${item.price}"></span></td>
        <td><span th:text="${item.number}"></span></td>\
        <td><span><a th:href="@{/item/rmItem/{id}(id=${item.idOfitem})}">Remove a item</a></span></td>
        <td><span><a th:href="@{/item/upitem/{id}(id=${item.idOfitem})}">Update a item</a></span></td>
    </tr>
</table>
    <button><a href="/item/addItem">Add a new item</a></button>
    <button><a href="/menu">Back to menu</a></button>
    <form th:action="@{logout}" method="post">
        <input type="submit" value="Sign out">
    </form>
    </div>
    </body>
</html>