<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>List of workers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="container">
<header>
    <nav>
        <ul class="navTop">
            <li><a href="/menu">Main menu</a></li>
            <li><a href="/provider">Provider menu</a></li>
            <li><a href="/worker">worker menu</a></li>
            <li><a href="/order">Order menu</a></li>
            <li><a href="/item">Item menu</a></li>
        </ul>
    </nav>
    <div class="signOut">
        <form th:action="@{logout}" method="post">
            <input type="submit" value="Sign out">
        </form>
    </div>
    <div class="imgDiv">
        <img class="logo" alt="logo" src="logo.jpg"></p>
    </div>
</header>
<h1>List of workers</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Fullname</th>
        <th>Post</th>
        <th>Phone</th>
        <th>DateOfStart</th>
        <th>DateOfBirth</th>
        <th>Identification code</th>
    </tr>
    <tr th:each="worker : ${workers}">
        <td><span th:text="${worker.idOfWorker}"></span></td>
        <td><span th:text="${worker.fullname}"></span></td>
        <td><span th:text="${worker.post}"></span></td>
        <td><span th:text="${worker.phone}"></span></td>
        <td><span th:text="${worker.dateOfStart}"></span></td>
        <td><span th:text="${worker.dateofBirthday}"></span></td>
        <td><span th:text="${worker.idencode}"></span></td>
        <td><span><a th:href="@{/worker/rmworker/{id}(id=${worker.idOfworker})}">Remove a worker</a></span></td>
        <td><span><a th:href="@{/worker/upworker/{id}(id=${worker.idOfworker})}">Update a worker</a></span></td>
    </tr>
</table>
    <button><a href="/worker/addWorker">Add a new worker</a></button>
    <button><a href="/menu">Back to menu</a></button>
    <form th:action="@{logout}" method="post">
        <input type="submit" value="Sign out">
    </form>
    </div>
</body>
</html>